@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Averta CY";
    src: url(/fonts/AvertaCY-Light.woff2) format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Averta CY";
    src: url(/fonts/AvertaCY-Regular.woff2) format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Averta CY";
    src: url(/fonts/AvertaCY-Semibold.woff2) format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Averta CY";
    src: url(/fonts/AvertaCY-Bold.woff2) format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
}
